body {
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color: blanchedalmond;
}
.mainWrapper {
    margin: auto;
    margin-top: 50px;
    width: 60%;
}

.board {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .board td, .board th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .board tr:nth-child(even){background-color: #f2f2f2;}
  .board tr:nth-child(odd){background-color: #bec7c5fd;}
  
  .board tr:hover {background-color: rgb(212, 82, 6);}
  
  .board th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(54, 138, 21);
    color: white;
    text-align: center;
  }
  
  