body{
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
}

#sound{
    color: blanchedalmond;
    
}

#wrapper {
    top: 50px;
    left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 600px;
    height: 600px;

    position: relative;
    visibility: visible; 
}

#start_button{
  color: blanchedalmond;
  background-color: rgb(54, 138, 21);
  border: none;
  color: blanchedalmond;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#restart_button{
    color: blanchedalmond;
    background-color: rgb(212, 82, 6);
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    margin-top: 50px;
}

#header{
    float: left;
    margin-left: auto;
    left: 200px;
    margin-right: auto;
    width: 400px;
    position: relative;
    visibility: visible; 
    border: 0px black solid;
}

#timer{
    font-size: 20px;
    font-weight: 100;
    visibility: visible;
    color: blanchedalmond;
}
  
table {
    table-layout: fixed;
    border-collapse: collapse;
    outline: 2px;
}

td {
    border: 2px solid blanchedalmond;
    text-align: center;
    height: 30px;
    width: 30px;
}

#pointer{
    border-radius: 80%;
}